.ArtifactContents {
  color: white;

  /*Configure grid*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "return txt"
    "graphics txt"
    "title txt"
    "subtitle txt"
    "date txt"
    "links txt"
    "images images"
    "embedded embedded";
}

.ArtifactContents__return {
  grid-area: return;
}

.ArtifactContents__graphics {
  grid-area: graphics;
  justify-self: stretch;
}

.ArtifactContents__title {
  grid-area: title;
}

.ArtifactContents__subtitle {
  grid-area: subtitle;
  opacity: 0.75;
}

.ArtifactContents__date {
  grid-area: date;
}

.ArtifactContents__external-links {
  grid-area: links;
}

.ArtifactContents__images {
  /*overflow: auto;*/
  white-space: nowrap;
  grid-area: images;
}

.ArtifactContents__iframe {
  height: 500px;
  width: 100%;
  border: none;
  grid-area: embedded;
  justify-self: stretch;
}

.ArtifactContents__text {
  padding: 20px;
  grid-area: txt;
}
