.ArtifactCard {
  color: white;
  text-decoration: none;

  /*Configure grid*/
  display: grid;
  grid-template-columns: 3fr 0.5fr 3fr;
  grid-template-areas: "graphics . text";
}

.ArtifactCard:hover .ArtifactCard__text {
  background-color: rgba(81, 115, 148, 0.6);
  border-radius: 15px;
}

.ArtifactCard__graphics {
  grid-area: graphics;
  justify-self: stretch;
}

.ArtifactCard__text {
  grid-area: text;
  justify-self: stretch;
  align-self: center;
  padding: 1em;
}

.ArtifactCard__title {
  margin-top: 0.35em;
}

.ArtifactCard__subtitle {
  opacity: 0.75;
  margin-top: -1em;
}
