// Constants
$animation-duration: 0.2s
$hover-scale: 1.05

.artifact-card
  // Border
  border: white solid .15rem
  border-radius: .5rem

  // Padding
  padding: 1rem

  // Layout
  display: grid
  grid-template-rows: 13rem auto auto

  // Text
  text-align: center
  text-decoration: none
  color: white

  // Animation
  transition: transform $animation-duration

  @media (hover: hover)
    &:hover
      transform: scale($hover-scale)

.artifact-card__graphic-container
  height: 100%
  background: magenta
  grid-row: 1

.artifact-card__title
  grid-row: 2

.artifact-card__subtitle
  grid-row: 3