.artifact-contents {
    color: white;
    display: none;
    grid-template-rows: repeat(3, auto);
}

.artifact-image {
    width: 30vw;
    aspect-ratio: initial;
}

.artifact-iframe {
    width: 100%;
    height: 500px;
}