.ArtifactContents {
  color: white;

  /*Configure grid*/
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 0.5fr 3fr;
  grid-template-areas:
    "return . . ."
    "graphics graphics . ."
    "title title . txt"
    "subtitle subtitle . txt"
    "date date . txt";
"links links . txt" "images images images images" "embedded embedded embedded embedded";
}

.ArtifactContents__return {
  grid-area: return;
}

.ArtifactContents__title {
  grid-area: title;
}

.ArtifactContents__subtitle {
  grid-area: subtitle;
  opacity: 0.75;
}

.ArtifactContents__date {
  grid-area: date;
}

.ArtifactContents__external-links {
  grid-area: links;
}

.ArtifactContents__images {
  overflow: auto;
  white-space: nowrap;
  grid-area: images;
}

.ArtifactContents__iframe {
  height: 500px;
  border: none;
  grid-area: embedded;
}

.ArtifactContents__text {
  padding: 20px;
  grid-area: txt;
}
