.ArtifactPage
  // Text
  color: white

.ArtifactPage__content
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr))

.ArtifactPage__return
  cursor: pointer
  opacity: 75%

.ArtifactPage__title
  justify-self: start
  align-self: end

.ArtifactPage__title h2
  opacity: 75%

.ArtifactPage__links
  margin-right: 1rem

.ArtifactPage__text
  display: block
  grid-column: span 2

.ArtifactPage__embeds iframe
  aspect-ratio: 16 / 9
  width: 100%
  border: none