.artifact-card
  border: white solid 2pt
  border-radius: 5pt
  padding: 10pt

  min-width: 30pt
  min-height: 50pt

  display: grid
  grid-template-rows: 2fr 1fr 1fr

.artifact-card__graphic-container
  height: 100%
  background: red
  grid-row: 1

.artifact-card__title
  grid-row: 2

.artifact-card__subtitle
  grid-row: 3