.ArtifactContents__Gallery-thumbnail {
  display: inline-block;

  height: 200px;
  aspect-ratio: initial;
}

.pswp__dynamic-caption {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.7);
  margin: 15px;
}
