@font-face {
    font-family: coolvetica;
    src: url("../assets/fonts/coolvetica rg.woff");
}

canvas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

main {
    position: absolute;
    width: 95vw;
    height: 100vh;
    margin-left: 2.5vw;

    display: grid;
    grid-auto-rows: auto;

    /* Allow Orbit controls to still work */
    pointer-events: none;
}

body {
    margin: 0;
    font-family: coolvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}