.RichLink
  outline: .2rem solid dimgray
  margin-bottom: 0.5rem
  border-radius: 0.5rem
  width: 100%
  display: flex
  text-decoration: none

.RichLink__image
  background-position: center center
  background-size: cover
  background-repeat: no-repeat
  height: 6rem
  width: 7rem
  overflow: hidden
  border-radius: 0.5rem 0 0 0.5rem

.RichLink__text
  padding: .5rem
  width: calc(100% - 7rem)

.RichLink__text--title
  font-size: 1rem
  color: white
  margin: 0 0 0.5rem 0
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden


.RichLink__text--description
  font-size: 0.9rem
  color: white
  opacity: 75%
  margin: 0
  display: -webkit-box
  -webkit-line-clamp: 2
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis


.RichLink__text--href
  font-size: 14px
  margin: 0
  white-space: nowrap
  text-overflow: ellipsis
  overflow: hidden
