---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="The Artist">
    <article class="prose">
        <ol>
            <li>ROV Renders</li>
            <li>Beginner Photographer</li>
            <li>Digital Cinema Production Final</li>
            <li>Animation Summer courses</li>
            <li>Portrait Photographer</li>
            <li>HCDE DRG</li>
            <li>DXARTS Video Series</li>
        </ol>
    </article>
</MainLayout>
