---
import { Image } from "astro:assets";
import profile from "../assets/profile.avif";
import TimelineEntry from "../components/TimelineEntry.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { withArtifactPath, withBasePath } from "../utils/path.ts";
---

<MainLayout title="Honors Portfolio">
  <div class="hero bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <Image
        src={profile}
        class="h-40 w-40 lg:h-80 lg:w-auto object-cover rounded-lg shadow-2xl"
        alt="Kenneth's profile"
      />
      <article class="prose">
        <h1>Kenneth's Honors Portfolio</h1>
        <p><b>Hi 👋 I'm Kenneth Yang.</b></p>
        <p>
          I studied Computer Science and minored in Digital Arts & Experimental
          Media with college honors as part of the UW's class of 2025.
        </p>
        <p>
          <i>I learn best by doing</i>. I used research as the surface I would
          apply my education towards, solidifying my coursework and also
          developing my skills to be career researcher in computer graphics.
          Along the way, I worked my leadership and communication skills as
          captain of UW's swim club and also went on a side quest to become a
          professional photographer. This portfolio details my journey through
          UW and how I shaped by experiences to learn better by doing.
        </p>
        <a href={withBasePath("learning-statement")} class="btn btn-primary"
          >Read my Learning Statement</a
        >
      </article>
    </div>
  </div>

  <article class="prose"></article>

  <article class="prose">
    <h1>Key Artifacts</h1>
    <ul>
      <li>
        <a href={withArtifactPath("research-experiential-learning")}
          >Research Experiential Learning</a
        > 👈 where my journey started
      </li>
      <li>
        <a href={withArtifactPath("sfn24")}>SfN 2024</a> 👈 achieving my goals
      </li>
      <li>
        <a href={withArtifactPath("3dgs")}>CSE Departmental Honors</a> 👈 where I
        am now and how it leads to my future
      </li>
    </ul>
  </article>
</MainLayout>
