---
import { Image } from "astro:assets";
import photographyCard from "../assets/photography-card.avif";
import profile from "../assets/profile.avif";
import researchCard from "../assets/research-card.avif";
import swimmingCard from "../assets/swimming-card.avif";
import MainLayout from "../layouts/MainLayout.astro";
import { withArtifactPath, withBasePath } from "../utils/path.ts";
---

<MainLayout title="Honors Portfolio">
  <div class="hero bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <Image
        src={profile}
        class="h-40 w-40 lg:h-80 lg:w-auto object-cover rounded-lg shadow-2xl"
        alt="Kenneth's profile"
      />
      <article class="prose">
        <h1>Kenneth's Honors Portfolio</h1>
        <p><b>Hi 👋 I'm Kenneth Yang.</b></p>
        <p>
          I studied Computer Science and minored in Digital Arts & Experimental
          Media with college honors as part of the UW's class of 2025.
        </p>
        <p>
          <i>I learn best by doing</i>. I used research as the surface I would
          apply my education towards, solidifying my coursework and also
          developing my skills to be career researcher in computer graphics.
          Along the way, I worked my leadership and communication skills as
          captain of UW's swim club and found my artistic outlet through
          photography and filmmaking. This portfolio details my journey through
          UW and how I shaped by experiences to learn better by doing.
        </p>
        <a href={withBasePath("learning-statement")} class="btn btn-primary"
          >Read my Learning Statement</a
        >
      </article>
    </div>
  </div>

  <br />

  <div class="flex flex-col items-center gap-4 text-center mx-auto p-4">
    <article class="prose">
      <h2>My Journeys</h2>
      <i>Click to learn more</i>
    </article>

    <div class="flex flex-col lg:flex-row gap-4">
      <a
        href={withBasePath("research")}
        class="card bg-base-100 max-w-96 shadow-sm"
      >
        <figure>
          <Image
            src={researchCard}
            alt="Walter E. Washington convension center"
          />
        </figure>
        <div class="card-body">
          <h2 class="card-title">🔬 Research</h2>
          <p class="text-left">
            The primary focus of my education journey was to gain experience in
            research while also making meaningful contributions to the real
            world.
          </p>
        </div>
      </a>

      <a
        href={withBasePath("swimming")}
        class="card bg-base-100 max-w-96 shadow-sm"
      >
        <figure>
          <Image src={swimmingCard} alt="Kenneth swimming" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">🏊‍♂️ Swimming</h2>
          <p class="text-left">
            I joined the UW Swim Club to continue my passion for the sport and
            later to foster my leadership and communication skills as the club's
            captain.
          </p>
        </div>
      </a>

      <a
        href={withBasePath("photography")}
        class="card bg-base-100 max-w-96 shadow-sm"
      >
        <figure>
          <Image src={photographyCard} alt="Kenneth taking photos" />
        </figure>
        <div class="card-body">
          <h2 class="card-title">📸 Photography</h2>
          <p class="text-left">
            Spawned from my love for computer graphics, I found my artistic
            outlet in photography, 3D animation, and filmmaking.
          </p>
        </div>
      </a>
    </div>
  </div>

  <article class="prose mx-auto text-center p-4">
    Built with <a href="https://astro.build/">🚀 Astro</a>; View <a
      href="https://github.com/kjy5/honors-portfolio">Source Code</a
    >; © 2025 Kenneth Yang
  </article>
</MainLayout>
