---
import { Image } from "astro:assets";
import profile from "../assets/profile.png";
import MainLayout from "../layouts/MainLayout.astro";
import { withArtifactPath, withBasePath } from "../utils/path.ts";
---

<MainLayout>
  <div class="hero bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <Image
        src={profile}
        class="h-64 w-auto rounded-lg shadow-2xl"
        alt="Kenneth's profile"
      />
      <article class="prose">
        <h1>Kenneth's Honors Portfolio</h1>
        <p><b>Hi 👋 I'm Kenneth Yang.</b></p>
        <p>
          I studied Computer Science and minored in Digital Arts & Experimental
          Media with college honors as part of the class of 2025.
        </p>
        <p>
          This portfolio documents my academic journey at UW as I pursue
          academic research in computer graphics to allow me to <i
            >learn by doing</i
          >. In addition to reflecting on my learning, I also wanted to share
          the side quests I took into photography and competitive swimming,
          which have become integral parts of my social life and personal growth
          outside of academia.
        </p>
        <a href={withBasePath("learning-statement")} class="btn btn-primary"
          >Read my Learning Statement</a
        >
      </article>
    </div>
  </div>

  <ul class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical">
    <li>
      <div class="timeline-middle">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
        >
          <circle r="8" cx="10" cy="10" fill="currentColor" />
        </svg>
      </div>
      <div class="timeline-start mb-10 md:text-end">
        <time class="font-mono italic">Autumn 2021</time>
        <div class="text-lg font-black">First Macintosh computer</div>
        The Apple Macintosh—later rebranded as the Macintosh 128K—is the original Apple Macintosh
        personal computer. It played a pivotal role in establishing desktop publishing as a general
        office function. The motherboard, a 9 in (23 cm) CRT monitor, and a floppy drive were housed
        in a beige case with integrated carrying handle; it came with a keyboard and single-button
        mouse.
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
        >
          <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="timeline-end md:mb-10">
        <time class="font-mono italic">1998</time>
        <div class="text-lg font-black">iMac</div>
        iMac is a family of all-in-one Mac desktop computers designed and built by Apple Inc. It has
        been the primary part of Apple's consumer desktop offerings since its debut in August 1998,
        and has evolved through seven distinct forms
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
        >
          <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="timeline-start mb-10 md:text-end">
        <time class="font-mono italic">2001</time>
        <div class="text-lg font-black">iPod</div>
        The iPod is a discontinued series of portable media players and multi-purpose mobile devices
        designed and marketed by Apple Inc. The first version was released on October 23, 2001, about
        8+1⁄2 months after the Macintosh version of iTunes was released. Apple sold an estimated 450
        million iPod products as of 2022. Apple discontinued the iPod product line on May 10, 2022. At
        over 20 years, the iPod brand is the oldest to be discontinued by Apple
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
        >
          <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="timeline-end md:mb-10">
        <time class="font-mono italic">2007</time>
        <div class="text-lg font-black">iPhone</div>
        iPhone is a line of smartphones produced by Apple Inc. that use Apple's own iOS mobile
        operating system. The first-generation iPhone was announced by then-Apple CEO Steve Jobs on
        January 9, 2007. Since then, Apple has annually released new iPhone models and iOS updates. As
        of November 1, 2018, more than 2.2 billion iPhones had been sold. As of 2022, the iPhone
        accounts for 15.6% of global smartphone market share
      </div>
      <hr />
    </li>
    <li>
      <hr />
      <div class="timeline-middle">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="h-5 w-5"
        >
          <path
              fill-rule="evenodd"
              d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
              clip-rule="evenodd"
          />
        </svg>
      </div>
      <div class="timeline-start mb-10 md:text-end">
        <time class="font-mono italic">2015</time>
        <div class="text-lg font-black">Apple Watch</div>
        The Apple Watch is a line of smartwatches produced by Apple Inc. It incorporates fitness
        tracking, health-oriented capabilities, and wireless telecommunication, and integrates with
        iOS and other Apple products and services
      </div>
    </li>
  </ul>
  
  <article class="prose">
    <h1>Key Artifacts</h1>
    <ul>
      <li>
        <a href={withArtifactPath("research-experiential-learning")}
          >Research Experiential Learning</a
        > 👈 where my journey started
      </li>
      <li>
        <a href={withArtifactPath("sfn24")}>SfN 2024</a> 👈 achieving my goals
      </li>
      <li>
        <a href={withArtifactPath("3dgs")}>CSE Departmental Honors</a> 👈 where I
        am now and how it leads to my future
      </li>
    </ul>
  </article>
</MainLayout>
