---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="The Scientist">
    <article class="prose">
        <ol>
            <li>COSMOS interface and CSE 351</li>
            <li>Research experiential learning</li>
            <li>Mary Gates Research Scholarship application attempts</li>
            <li>URS 2022</li>
            <li>SfN 2023</li>
            <li>CSE 340 and Pinpoint 2.0</li>
            <li>Leadership Experiential Learning Activity</li>
            <li>CSE 512 Data vis</li>
            <li>AST Merge Driver (PLSE)</li>
            <li>SfN 2024</li>
            <li>ASE 2024</li>
            <li>CSE Departmental Honors (3DGS)</li>
        </ol>
    </article>
</MainLayout>
