---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="The Swimmer">
    <article class="prose">
        <ol>
            <li>Capturing the club</li>
            <li>Captain</li>
            <li>Nationals</li>
            <li>Passing on the Torch</li>
        </ol>
    </article>
</MainLayout>
