---
interface Props {
	date: string;
	isFirst?: boolean;
	isLast?: boolean;
}

const { date, isFirst = false, isLast = false } = Astro.props;
---

<li>
  {!isFirst && <hr />}
  <div class="timeline-start">{date}</div>
  <div
    class="timeline-middle h-5 w-5 rounded-full bg-primary border-2 border-base-100"
  >
  </div>
  <div class="timeline-end timeline-box"><slot /></div>
  {!isLast && <hr />}
</li>
