---

import { withBasePath } from "../utils/path";
---

<li><a href={withBasePath("")}>My Journey</a></li>
<li><a href={withBasePath("side-quests")}>Side Quests</a></li>
<li><a href={withBasePath("learning-statement")}>Learning Statement</a></li>
