---
import type { MarkdownLayoutProps } from "astro";
import MainLayout from "./MainLayout.astro";
type Props = MarkdownLayoutProps<{
	return: string;
}>;

const { headings, frontmatter } = Astro.props;
---

<MainLayout title={headings[0].text} } returnPage={frontmatter.return}>
  <div class="flex items-center justify-center p-4">
    <article class="prose max-w-5xl">
      <slot />
    </article>
  </div>
</MainLayout>
