---
import MainLayout from "./MainLayout.astro";
const { headings } = Astro.props;
---

<MainLayout title={headings[0].text} }>
  <div class="flex items-center justify-center p-4">
    <article class="prose max-w-5xl">
      <slot />
    </article>
  </div>
</MainLayout>
